/* regole generali */
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

/* regola debug */
body {
  background: orange;
}

[class*="col-"] {
  float: left;
  /* ATTRIBUTI DA TOGLIERE */
  min-height: 120px;
  background: lightblue;
  border: 2px solid black;
}

#jumbotron{
  background-image: url(../img/jumbo.jpg);
  background-repeat: repeat;
  min-height: 366px;
}

#blocco1{
  margin-top: 30px;
}

#centrali{
  float: left;
  width: 48%;
  margin:
}

#centrali1{
  float: left;
  width: 48%;
  margin-left: 4%; 
}

img{
  width: 100%;
}
